* {
    box-sizing: border;
}

body {
    background-color: #252e33;
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

h1,
h3 {
    margin: 0;
}

p {
    line-height: 1.5em;
    margin-top: 10px;
}

.msg {
    font-size: 1.5em;
    margin-top: 10px;
}

.play-again {
    padding: 8px 15px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.play-again:focus {
    outline: none;
}

.box {
    display: inline-block;
    border: 1px #dedede solid;
    padding: 10px;
    margin: 20px;
}