* {
    box-sizing: border-box;
}

body {
    background-color: #8e44ad;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.btn {
    border: 0;
    background-color: #f4f4f4;
    margin: 30px 50px;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.95);
}