* {
    box-sizing: border-box;
}

body {
    background-color: #8e44ad;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn {
    background-color: #f5f5f5;
    margin: 30px 100px;
    padding: 13px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.95);
}