* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #8e44ad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.counter-container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 26px;
}

.counter {
    margin-top: 30px;
}