@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form {
    width: 500px;
    max-width: 100%;
    border: 1px #f0f0f0 solid;
    padding: 30px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.form h2 {
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.form-control input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: 1px #f0f0f0 solid;
}

.form-control input:focus {
    outline: none;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control small {
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

.submit {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #96d6ff;
    border: 0;
    cursor: pointer;
}

.submit:focus {
    outline: none;
}

.submit:active {
    transform: scale(0.95);
}